body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #007BFF, #FFD700);
    margin: 0;
    padding: 20px;
    color: #fff;
}

h1 {
    text-align: center;
}

#taskList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.task-item {
    border: 2px solid #fff;
    border-radius: 10px;
    padding: 20px;
    margin: 15px;
    width: 250px;
    height: auto; /* 允许高度自适应 */
    text-align: center;
    background-color: rgba(255, 255, 255, 0.1);
    transition: transform 0.2s;
    overflow-wrap: break-word; /* 允许文本换行 */
}

.task-item:hover {
    transform: scale(1.05);
    background-color: rgba(255, 255, 255, 0.2);
}

.date {
    font-weight: bold;
    font-size: 1.5em;
    margin-bottom: 10px;
}

#taskList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.task-item, .month-item {
    border: 2px solid #fff;
    border-radius: 10px;
    padding: 20px;
    margin: 15px;
    width: 250px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.1);
    transition: transform 0.2s;
    overflow-wrap: break-word;
}

.task-item:hover, .month-item:hover {
    transform: scale(1.05);
    background-color: rgba(255, 255, 255, 0.2);
}

.month-item {
    cursor: pointer;
}

.date {
    font-weight: bold;
    font-size: 1.5em;
    margin-bottom: 10px;
}
